* {
	color: black !important;
}

body, html, input, button {
	font-size: 1.25rem;
	font-family: "Cormorant Garamond", serif, monospace;
}

img {
	margin-bottom: 2rem;
}

.title {
	font-size: 2rem;
}

.subtitle {
	font-size: 1.5rem;
}

.header {
	margin-bottom: 2rem;
}

p {
	margin-bottom: 2rem;
	text-align: justify;
}

.button {
	/* border-radius: 0; */
	border: 0.2rem solid black !important;
}

.button:hover {
	border: 0.2rem solid rgb(215, 215, 215) !important;
}

.buy-now-button {
	font-size: 1.25rem;
	width: 100%;
	display: block;
	margin-bottom: 1rem;
}

a {
	color: black !important;
}
